* {
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    margin:0;
    padding: 3vh 9vw;
    background-color: rgb(38, 196, 175);
}

h1{
    font-size: 2.2em;
    text-align: center;
    color: white;
    font-weight: bolder;
    margin-bottom: 2vh;
}

h2{
    font-weight: lighter;
    font-size: 1em;
    text-align: center;
    color: white;
}

.img-container{
    margin-top: 4em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    row-gap: 6vw;
    column-gap: 10%;
}

.img-container img{
    display: block;
    width: 18em;
    height: 18em;
    margin: auto;
    max-width: 80vw;
    max-height: 80vw;
    min-width: 30vw;
    min-height: 30vw;
    filter: grayscale(0%);
    filter: gray;
    -webkit-filter: grayscale(0%);
    filter: none;
    transition: 1s ease;
}

.img-container img:hover{
    cursor: pointer;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: all 1s ease;
}

.rectangle{
    height: 14em;
    margin: 2em auto;
    max-height: 65vw;
    min-height: 22vw;
}

.triangle{
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.circle{
    border-radius: 50%;
}

.overlay{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 2;
    text-align: center;
}

.over-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    height: 80vh;
    width: 80vw;
    max-height: 100vw;
    max-width: 100vh;
    min-height: 50vh;
    background-color: rgb(38, 196, 175);
    padding:2vh 2vw;
}

.close{
    position: absolute;
    top: 0px;
    right: 0px;
}

.close:hover{
    cursor: pointer;
}

.overlay img{
    height: 60%;
    width:60%;
    max-height: 50vw;
    max-width: 50vh;
    margin-top: 1vh;
}